.heading-1 {
  font-size: 4rem;
  color: #424242;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "futur", sans-serif;
  margin-bottom: 3rem; }

* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "futurBook"; }

a {
  text-decoration: none;
  padding: 0; }

h1 {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: brooklyn;
  src: url(../fonts/TheBrooklyn.otf); }
@font-face {
  font-family: brooklynBold;
  src: url(../fonts/TheBrooklynBold.otf); }
@font-face {
  font-family: futur;
  src: url(../fonts/futur.ttf); }
@font-face {
  font-family: futurBook;
  src: url(../fonts/FuturaBookfont.ttf); }
@font-face {
  font-family: futurHeavy;
  src: url(../fonts/FuturaHeavy.ttf); }
@font-face {
  font-family: futurMedium;
  src: url(../fonts/futuraMedium.ttf); }
.section-services, .section-clients, .section-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0; }

.header {
  background-image: url(../images/bulbImages.png);
  height: 90vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }

.main {
  width: 100%;
  height: 100%;
  position: relative; }
  .main__heading {
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    font-size: 6rem; }

.logo-img {
  width: 15rem; }

.navbar-brand {
  padding: 1rem; }

.navbar {
  font-family: "futurHeavy", sans-serif;
  font-weight: 500;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  box-shadow: none;
  border: none;
  border-radius: 0px; }
  .navbar-nav li:hover {
    cursor: pointer; }
  .navbar-nav li:hover {
    cursor: pointer; }

.show {
  background: #e0e0e0;
  -webkit-box-shadow: 0 1px 2px rgba(119, 119, 119, 0.3);
  -moz-box-shadow: 0 2px 1px rgba(119, 119, 119, 0.3);
  box-shadow: 0 2px 1px rgba(119, 119, 119, 0.3); }

#nav li a {
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom: 2px solid white;
  margin: 0 .3rem;
  width: 12rem;
  text-align: center; }

#nav li:hover a {
  color: #b9b6b6; }

.show2 {
  color: black !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-bottom: 2px solid transparent !important; }
  .show2:hover {
    color: #6f6e6e !important; }

.services__row {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-around; }
.services__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  background: #e0e0e0;
  padding: 1rem;
  height: 35rem;
  overflow: hidden;
  transition: all 0.3s;
  backface-visibility: hidden; }
  .services__box-image {
    width: 28rem;
    height: 28rem;
    background-size: cover;
    transition: all 0.3s;
    z-index: 2;
    backface-visibility: hidden; }
  .services__box-heading {
    font-size: 1.5rem;
    font-family: "cabin", sans-serif;
    margin: 2rem 0;
    text-transform: uppercase;
    z-index: 3;
    transition: all 0.3s;
    letter-spacing: 3px;
    white-space: nowrap; }
  .services__box:hover {
    box-shadow: 0 10px 23px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translateY(-0.5rem); }
  .services__box:hover .services__box-heading {
    letter-spacing: 4px;
    font-weight: 700;
    transform: translateY(1rem); }
  .services__box:hover .services__box-image {
    transform: scale(1.1); }

.simage-1 {
  background-image: url("../images/socialMarketing.jpg"); }

.simage-2 {
  background-image: url("../images/intern.jpg"); }

.simage-3 {
  background-image: url("../images/influencer.jpg"); }

.simage-4 {
  background-image: url("../images/eventPromotion.jpg"); }

.simage-5 {
  background-image: url("../images/workshop.jpg"); }

.simage-6 {
  background-image: url("../images/campus.jpg"); }

.client {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 2rem 0; }
  .client__box {
    width: 10rem;
    height: 10rem;
    border-radius: 300%;
    overflow: hidden;
    transition: all .3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .client__box:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 10px rgba(0, 0, 0, 0.23); }
  .client__image {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transform-origin: center; }

.about__text {
  font-size: 2rem;
  font-family: "barlow",sans-serif;
  line-height: 3.5rem;
  font-weight: 500;
  text-align: center;
  background: #e0e0e0;
  padding: 6rem 3rem;
  position: relative;
  z-index: 30;
  letter-spacing: 1.5px;
  overflow: hidden; }
  .about__text::before {
    content: "    \0482";
    position: absolute;
    font-family: 'cabin',sans-serif;
    font-size: 18rem;
    color: black;
    z-index: 1;
    left: 0;
    top: 0;
    color: #bdbdbd; }

/*# sourceMappingURL=style.css.map */
