.heading-1 {
    font-size: 4rem;
    color: $color-grey-light-3;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "futur", sans-serif;
    white-space: nowrap;
    margin-bottom: 3rem;
        position: relative;
    @include respond(1000){
          font-size: 3rem;
         list-style-position: 2px;
         margin-bottom: 2rem;
        }
      @include respond(800){
          font-size: 2rem;
         list-style-position: 2px;
         margin-bottom: 2rem;
          letter-spacing: 1px;
        }
     @include respond(phone){
          font-size: 1.5rem;
         list-style-position: 2px;
         margin-bottom: 2rem;
          letter-spacing: 1px;
         font-family: "futurmedium",sans-serif;
        }
    
    &::after{
        content: "";
        position: absolute;
        height: .2rem;
        width: 100%; 
        top: 100%;
        transform: translateY(-50%);
        background: $color-grey-light-2;
        
        left: 0;
    }
}
.heading-size-1{
 font-size: 4rem !important; 
    text-transform: uppercase;
    margin-bottom: 6rem !important;
}
.heading-size-2{
 font-size: 2rem !important; 
    text-transform: uppercase;
    margin-bottom: 4rem !important;
}
.php__heading{
         color: #fff;
        font-family: "brooklynBold",sans-serif;
        font-weight: 600;
        font-size: 6rem;
        z-index: 200;
        animation-name: moveDown;
        animation-duration: 2s;
        white-space: nowrap;
        letter-spacing: 4px;
   
        @include respond(800) {
            font-size: 4rem;
            letter-spacing: 3px;

        }

        @include respond(phone) {
            font-size: 2.5rem;
            letter-spacing: 2px;
        }
}
