.heading-1{
         font-size: 4rem;
        color: $color-grey-light-3;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-family: "futur", sans-serif;
    margin-bottom: 3rem;
}