.header {
    background-image: url(../images/bulbImages.png);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    @include respond(800) {}
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__heading {
        color: #fff;
        font-family: "Caveat", sans-serif;
        font-weight: 600;
        font-size: 6rem;
        margin-top: 25rem;
        animation-name: moveDown;
        animation-duration: 2s;
        white-space: nowrap;
        @include respond(800) {

            margin-top: 20rem;
            font-size: 4rem;
            letter-spacing: 2px;

        }

        @include respond(phone) {
            font-size: 3rem;
            margin-top: 20rem;
        }

    }

}

@keyframes moveDown {
    0% {
        opacity: 0;
        top: 40%;

    }
    100% {
        opacity: 1;
        top: 50%;
    }
}

@keyframes moveD {
    0% {
        margin-top: 5rem;
    }
    100% {
        margin-top: 10rem;

    }
}

@keyframes moveDs {
    0% {
        margin-top: 3rem;
    }
    100% {
        margin-top: 5rem;

    }
}

.btn {
    text-decoration: none;
    color: white;
    font-family: "cabin", sans-serif;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 10rem;
    letter-spacing: 3px;
    transition: all .3s ease-in-out;
    position: relative;
    animation-name: moveD;
    animation-duration: 2s;
    background: none;
    @include respond(phone) {
        margin-top: 5rem;
        animation-name: moveDs;
        letter-spacing: 2px;
        border-width: 1px;
        padding: .5rem 1rem;
    }
    &:hover {
        color: black;
        border: 2px solid black;
        background: #ff9100;
    }
    &:focus {
        outline: 0;
    }
    &::before {
        background: #ff9100;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        transition: all .3s ease-in-out;
        left: 0;
        &:focus {
            outline: 0;
        }
    }
    &:hover {
        transform: translateY(-0.4rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        &:focus {
            outline: 0;
        }
        &::before {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
            &:focus {
                outline: 0;
            }
        }
    }
}
