      .header_image {
          min-height: 90vh;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          display: flex;
          align-items: flex-end;
          justify-content: center;

      }




      .header_image-blog {
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0.53), rgba(0, 0, 0, 0.16)), url(../images/blog.jpg);
          height: 100vh;
          @include respond(767) {
              height: 20rem;
          }
      }

      .blog-container {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-around;
          ;
          flex-direction: row;
          align-items: flex-start;
      }

      .blog {
          background: #fff;
          margin: 3rem 3rem;
          display: inline-block;
          width: 30rem;
          padding: 1rem;
          border-radius: 4px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          &__image {
              &-box {
                  overflow: hidden;
              }

              height: 30rem;
          }
          &__main {
              padding: 1rem 1rem;
          }
          &-date {
              font-size: 1.2rem;
              margin-bottom: 1rem;
              font-family: "barlow", sans-serif;
              font-weight: 500;
              color: $color-grey-light-3;
          }
          &-heading {
              font-family: 'Anton', sans-serif;
          }
      }

      h2,
      h3,
      h1,
      h4 {
          margin: 0;
      }

      .blogBack {
          width: 100%;
          height: 30vh;
          background-image: url(../images/blogsbg.jpg);
          overflow: hidden;
          background-repeat: no-repeat;
          background-size: cover;
      }

      .blogs_container {
          width: 70%;
          background: #fff;
          margin-top: -10rem;
          margin-left: auto;
          margin-right: auto;
          border-radius: 3px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          margin-bottom: 5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2rem;
          @include respond(1100) {
              width: 80%;
          }
          @include respond(phone) {
              width: 90%;
          }
      }

      .blogs {
          background: #fff;
          margin: 1rem 3rem;
          display: inline-block;
          width: 100%;
          padding: 1rem;
          border-radius: 4px;
          overflow: hidden; // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          @include respond(phone) {
              margin: 1rem 1rem;
              padding: 0;
          }
          &__main {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 3rem 0;
              overflow: hidden;
              @include respond(phone) {
                  margin: 1rem 0;
              }
          }
          &__image {
              overflow: hidden;
              width: 20rem;
              height: 20rem;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); //  border-radius: 500px;
              border: 2px solid #00bcd4;
                border-radius: 200px;
              @include respond(700) {
                  width: 15rem;
                  height: 15rem;
              }
              &-content {
                  width: 20rem;
                  @include respond(700) {
                      width: 15rem;

                  }
              }
          }
          &__heading {
              display: inline-block;
              font-size: 4rem;
              margin: 2rem 0;
              white-space: nowrap;
              @include respond(phone) {
                  margin: 1.3rem 0;
                  font-size: 3rem;
              }

          }
          &__headings {
              margin: 2rem 0;
              font-family: 'Anton', sans-serif;
              font-size: 3rem;
              @include respond(phone) {
                  margin: 1.3rem 0;
                  font-size: 1.5rem;
              }
          }
          &__contents {
              margin: 2rem 0;
              font-family: 'cabin', sans-serif;
              font-size: 1.5rem;
              color: $color-grey-light-3;
              letter-spacing: 1.8px;

              @include respond(phone) {
                  margin: 1.3rem 0;
                  font-size: 1.4rem;
                  letter-spacing: 1.2px;
              }
          }

          &__images {
              margin: 2rem 0;
              overflow: hidden;
              width: 100%;
              max-height: 40rem;
              border-radius: 3px;
              background: #6befb2;
          }
          &__imagesIn {
              width: 100%;
          }
      }

      .break {
          width: 100%;
          height: 2px;
          background: $color-grey-light-2;
          margin: 2rem 0rem;
      }

      .info {
          background: #333030;
          border-radius: 3px;
          display: inline-block;
          padding: 1.2rem 3rem;
          color: #fff;
          position: fixed;
          left: 3rem;
          top: 90%;
          display: none;
      }
