.intern {
    &__intro {
        width: 100;
        border-left: 1rem solid $color-grey-light-3;
        margin: 4rem 2rem;
        padding-left: 1rem;
        @include respond(767) {
            border-left: .5rem solid $color-grey-light-3;
        }
    }
    &__para {
        margin: 1rem 0;
        font-family: 'Cabin', sans-serif;
        font-size: 2rem;
        color: $color-grey-light-3;
        @include respond(767) {
            font-size: 1.6rem;
        }
    }


    &__list-container {
        margin: 7rem 4rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 3px;
        overflow: hidden;
        padding: 2rem;

        @include respond(767) {
            margin: 5rem 2.5rem;
            padding: 1.5rem;
        }

    }
    &__list-main {
        font-size: 1.8rem;
        margin: 3rem 0;
        @include respond(767) {
            font-size: 1.5rem;
            margin: 2rem 0;

        }
    }


    &__list-req {
        font-size: 1.8rem;
        margin: 3rem 0;
        @include respond(767) {
            font-size: 1.5rem;
            margin: 2rem 0;

        }
    }

    &__list-heading {
        text-transform: uppercase;
        font-family: 'Anton', sans-serif;
        font-size: 2rem;
        margin: .5rem 0;
        color: #002073;
        @include respond(767) {
            font-size: 1.8rem;
        }
    }

    &__list-subheading {
        font-family: 'Cabin', sans-serif;
        font-size: 2rem;
        margin: .5rem 0;
        font-weight: 500;
        color: #002073;
        @include respond(767) {
            font-size: 1.5rem;
        }
    }

    &__task {
        margin-left: 2rem;
        font-family: 'Barlow', sans-serif;
    }
    &__req {
        font-family: 'Barlow', sans-serif;
        margin-left: 2rem;
    }
}

.intern {
    &__steps {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 11rem 0;
    }
    &__step {
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
    }
    &__stepL {
        background: #fff;
        color: $color-grey-light-3;
        padding: 1rem 1.5rem;
        font-family: 'Anton', sans-serif;
    }
    &__stepR {
        padding: 1rem 1.5rem;
        color: #fff;
        font-family: 'cabin', sans-serif;
        letter-spacing: 1.5px;
        background: $color-grey-light-3;
        width: 30rem;
        @include respond(phone) {
            width: 20rem;
        }
    }
}

.intern {
    &__type {
        margin: 11rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @include respond(767) {
            font-size: 2rem;
        }
        
    }
    &__duration {
        //// width: 30rem;
         @include respond(phone) {
                margin: 0 .5rem;
            }
        &-block {
            display: flex;
            align-items: center;
        }
        &-logo {
            display: inline-block;
            margin: 0;
        }
        &-text {
            font-size: 2rem;
            text-transform: uppercase;
            color: #fff;
            font-family: 'Muli', sans-serif;
            background: $color-grey-light-3;
            padding: 1rem 2rem;
            margin: 2rem 0;
            @include respond(767) {
                padding: .8rem 2rem;
                margin: 1.8rem 0;
                font-size: 1.7rem;
            }
            @include respond(phone) {
                font-size: 1.5rem;
                padding: .8rem 1.5rem;
                margin: 2rem .6rem;
            }
        }
    }
    &__time {
        font-size: 2rem;
        color: $color-grey-light-3;
        margin-left: 2rem;
        border-bottom: 2px dashed $color-grey-light-3;
        font-family: 'brooklynBold', sans-serif;
    }
}

.intern {
    &__perks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-container {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            width: 50%;
            overflow: hidden;
            border-radius: 3px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/perks.jpg);
            background-attachment: fixed;
            background-size: cover;
            -webkit-clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
            clip-path: polygon(6% 0, 100% 0, 94% 100%, 0% 100%);

            @include respond(767) {
                width: 65%;
            }
            @include respond(phone) {
                width: 80%;
            }

        }
        &-text {
            margin: 3rem 4rem;
            font-size: 1.5rem;
            @include respond(767) {
                margin: 2.5rem 3.5;
                font-size: 1rem;
                letter-spacing: 1.2px;
            }
        }
    }
    &__perk {
        color: #fff;
        text-transform: uppercase;
        font-family: 'cabin', sans-serif;
        margin: 1.5rem 0;
        letter-spacing: 2px;
    }
}

.join-heading {
    font-size: 2.8rem;
    white-space: nowrap;
    color: #002073;
    @include respond(767) {
        font-size: 2rem;
    }
    @include respond(phone) {
        font-size: 1.3rem;
        padding: 0.5rem;
    }
}
