.main {

    &__isp-image::before {
        background-image: linear-gradient(to right, rgba(142, 36, 170, 0.5), rgba(26, 35, 126, 0.5)), url(../images/influence.jpg);
    }

}

.isp {
    &__container-1 {
        padding: 8rem 2rem;
        background: #eeeeee;
        position: relative;
        overflow: hidden;
    }

    &__intro {
        line-height: 3rem;
        font-size: 1.8rem;
        text-align: center;
        padding: 1rem;
        @include respond(1100) {
            font-size: 1.5rem;
        }
    }
}

.heading-details {
    font-size: 2rem;
    color: #002073;
    letter-spacing: 3px;
    display: inline-block;
    font-family: "futur", sans-serif;
    white-space: nowrap;
    margin-bottom: 2rem;
    position: relative;

    margin-left: 50%;
    transform: translateX(-50%);

    @include respond(767) {

        color: #fff;
    }
    @include respond(1000) {
        font-size: 1.5rem;
        list-style-position: 2px;
        margin-bottom: 1.5rem;
    }
    @include respond(800) {
        font-size: 1.5rem;
        list-style-position: 2px;
        margin-bottom: .8rem;
        letter-spacing: .8px;

    }
    @include respond(phone) {
        font-size: 1.2rem;
        list-style-position: 2px;
        margin-bottom: .6rem;
        letter-spacing: .5px;
        font-family: "futurmedium", sans-serif;
    }
    &::after {
        content: "";
        position: absolute;
        height: .2rem;
        width: 100%;
        top: 100%;
        transform: translateY(-50%);
        background: #002073; //background-image: url(../images/border.png);
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
    }
}

.container-1__heading {

    font-size: 2rem;
    color: #002073;
    letter-spacing: 3px;
    display: inline-block;
    font-family: "futur", sans-serif;
    white-space: nowrap;
    margin-bottom: 2rem;
    position: relative;

    margin-left: 50%;
    transform: translateX(-50%);
    @include respond(1000) {
        font-size: 1.5rem;
        list-style-position: 2px;
        margin-bottom: 1.5rem;
    }
    @include respond(800) {
        font-size: 1rem;
        list-style-position: 2px;
        margin-bottom: .8rem;
        letter-spacing: .8px;
    }
    @include respond(phone) {
        font-size: .8rem;
        list-style-position: 2px;
        margin-bottom: .6rem;
        letter-spacing: .5px;
        font-family: "futurmedium", sans-serif;
    }
    &::after {
        content: "";
        position: absolute;
        height: .2rem;
        width: 100%;
        top: 100%;
        transform: translateY(-50%);
        background:#002073; //background-image: url(../images/border.png);
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
    }
}


.isp__container-2 {
    overflow: hidden; // margin-bottom: 2rem;
    width: 100%; // height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    @include respond(767) {
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
        position: relative;
    }

    &__image {
        width: 40%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/details.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        filter: grayscale(100);
        @include respond(767) {
            height: 100%;
            width: 60%;
            position: absolute;
            z-index: -1;
        }
        @include respond(phone) {
            width: 70%;
        }
    }
    &__text {
        width: 60%;
        padding: 1rem 3rem;
        font-family: 'futurBook', sans-serif;
        color: $color-grey-light-3;
        letter-spacing: 2px;
        overflow: hidden;
        @include respond(767) {
            color: #fff;
            font-size: 1.2rem;
        }
        & ul {
            list-style: none;
            & li {
                margin: .8rem 0;

            }
        }
           @include respond(767) {
           
            width: 60%;
           
        }
        @include respond(phone) {
            width: 70%;
        }

    }
}

.svg__listicon {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.isp__container-3 {
    margin: 6rem 0;
    overflow: hidden;
    width: 100%;

}

.titles {
    &__box {
        width: 60rem; //background-image:linear-gradient(to right,rgba(142, 36, 170, 1), rgba(26, 35, 126, 1));
        margin-left: 50%;
        transform: translateX(-50%); //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        padding: 2rem 0;
        font-size: 1.5rem;
        @include respond(phone) {
            width: 45rem;
            font-size: 1.2rem;
        }
        @include respond(500) {
            width: 35rem;
            font-size: 1rem;
        }
    }
    &__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 1rem 0rem;
        overflow: hidden;
        color: #fff;
        background: #00bcd4;
        padding: .2rem;
        text-transform: uppercase;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        white-space: nowrap;
        @include respond(phone) {
            padding: .1rem;
        }
    }
    &__title {
        flex: 1;
        color: black;
        padding: 1rem;

        background: #fff;
    }
    &__icon {
        padding: 1rem;
        flex: 1;
        letter-spacing: 2px;
    }
    &__note {
        color: #c30c28;
        margin: 2rem 0;
    }
}

.isp__container-4 {
    width: 100%;
    padding: 3rem;
    margin: 5rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    font-size: 1.5rem;
    @include respond(phone) {
        font-size: 1.2rem;
    }
}

.instruct__bar {
    width: .5rem;
    background: #00bcd4;

}

.instruct__text {
    padding: 0 2rem;
    color: #000000;
    letter-spacing: 2px;
}

.email {
    color: #161688;

}

.isp__join {
    width: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
    &-button {
        background: #00bcd4;
        color: #fff !important;
    }
    &-heading {
        font-size: 2rem;
        white-space: nowrap;
        color: #002073;
        @include respond(phone) {
            font-size: 1.6rem;
        }
    }
}
