.main {

    &__isp-image::before{
         background-image: linear-gradient(to right,rgba(142, 36, 170, 0.5), rgba(26, 35, 126, 0.5)), url(../images/influence.jpg);
    }
    
}

.isp{
    &__container-1{
    padding: 2rem;
         background: $color-grey-light-1;
    }
    
    &__intro{
        line-height: 3rem;
        font-size: 1.8rem;
        text-align: center;
       
        padding: 1rem;
    }
}
.heading-details,.isp__container-1-heading{
    font-size: 2rem;
    color: $color-grey-light-3;
    letter-spacing: 3px;
   display: inline-block; 
    margin-left: 50%;
    transform: translateX(-50%); 
    font-family: "futur", sans-serif;
    white-space: nowrap;
    margin-bottom: 2rem;
        position: relative;
    @include respond(1000){
          font-size: 1.5rem; 
         list-style-position: 2px;
         margin-bottom: 1.5rem;
        }
      @include respond(800){
          font-size: 1rem;
         list-style-position: 2px;
         margin-bottom: .8rem;
          letter-spacing: .8px;
        }
     @include respond(phone){
          font-size: 1rem;
         list-style-position: 2px;
         margin-bottom: .6rem;
          letter-spacing: .5px;
         font-family: "futurmedium",sans-serif;
        }
        &::after{
        content: "";
        position: absolute;
        height: .2rem;
        width: 100%;
        top: 100%;
        transform: translateY(-50%);
        background: $color-grey-light-2;
        //background-image: url(../images/border.png);
        background-size: cover;
        background-repeat: no-repeat; 
        left: 0;
    }
}
.isp__container-2{
    overflow: hidden;
   // margin-bottom: 2rem;
    width: 100%;
   // height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    
    &__image{
        width: 40%;
        background-image: url(../images/details.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        filter: grayscale(100);
    }
    &__text{
        width: 60%;
        padding: 1rem 3rem;
        font-family: 'futurBook',sans-serif;
        color: $color-grey-light-3; 
        letter-spacing: 2px; 
        & ul {
            list-style: none;
            & li{
            margin: .8rem 0;
                
            }
        }
        
    }
}
.svg__listicon{
   width: 1.5rem !important;
    height: 1.5rem !important;
}
.isp__container-3{ 
    margin-top: 2rem; 
     overflow: hidden;
 width: 100%;
    margin-bottom: 5rem; 
}
.titles{
    &__box{
        width: 60rem;
        background-image:linear-gradient(to right,rgba(142, 36, 170, 1), rgba(26, 35, 126, 1));
        margin-left: 50%;
        transform: translateX(-50%); 
         box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        padding: 2rem 0;
    }
    &__row{
        width: 100%; 
        display: flex;
        flex-direction: row;
        margin: 1rem 0rem;     
        border-radius: 3px; 
        overflow: hidden;
        color: #fff; 
    } 
    &__title{  
        flex: 1;
        padding: 1rem;
        margin-right: 1rem;  
        background: blue;
        border-radius: 3px;
    }
      &__icon{ 
          
        border-radius: 500px;
        background: yellow; 
        border-radius: 300px;
         padding: 1rem; 
          width: 5rem; 
    }
}