* {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
  
    box-sizing: border-box;
}
html
{
    font-size: 62.5%; //1rem = 10px def font size of browser = 16px; 10/16 = 62.5%
}


::selection
{
    
}