.section-services,
.section-clients,
.section-about,
.section-form,
.section-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}

.section-form-container {
    background-image: url(../images/form-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
    
    @include respond(1000) {
        flex-direction: column;
        align-items: center;
        height: 90rem;
    }
}
.scrollUp{
    position: fixed;
   top: 92%;
    z-index: 500;
    left: 100%;
    transform: translateX(-100%);
    margin-left: -2rem;
    background: none;
    border: none; 
    border-radius: 50%;
    display: none;
    opacity: 0;
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &:focus{
        outline: 0;
    }
    @include respond(phone){
        left: 102%;
    }
}
.showUp{
    opacity: 1;
    display: block;
}